<div class="row justify-content-evenly">
	<div class="col-sm-9 my-5">
		<div class="clearfix">
			<h1>About Our Team</h1>
			<img src="../images/about.jpg" class="col-md-6 float-md-end mb-3 ms-md-3"
				alt="picture of a dog, cat, and bird">
			<p>
				We are Julius Markauskas, Amitabh Ranjan, and Jacklyn Malone a group of animal lovers that wanted to create a
				place where fellow animal lovers can come to adopt pets needing a home and also
				provide a place where people can post animals that are needing to be adopted.</p>
			<p>
				At our home page simply click the button whether you're looking to adopt a new pet or to find a new family for your pet.
				We have a variety of animals ready to be adopted! From the drop down menu you can choose
				the type of animal you are looking for. Once you sign up you can also create your own saved pet page for animals you are interested in adopting.
				Contact information is provided on each of the animals. 
			</p>

			<p>
				If you are needing to find a new home for your pet you can simply sign up and post the picture and description, as well as your contact
				information. Other animal lovers will be able to see new pets that are ready to be adopted and can easily get in touch with you.
			</p>
			<p>
				Thank you for vising our site!
			</p>
		</div>
	</div>
</div>