<h1>Enter Pet Data</h1>
<form class="my-3">
    <div class="mb-3">
        <label for="addPetName" class="form-label">Pet Name</label>
        <input type="name" class="form-control" id="addPetName" placeholder="Pet Name">
    </div>

    <select class="form-select" id="selectPetType">
        <option selected>Select Pet Type</option>
        <option value="1">Dog</option>
        <option value="2">Cat</option>
        <option value="3">Bird</option>
        <option value="4">Other</option>
    </select>

    <div class="mb-3">
        <label for="addPetBreed" class="form-label">Breed</label>
        <input type="name" class="form-control" id="addPetBreed" placeholder="Breed">
    </div>
    <div class="mb-3">
        <label for="addPetAge" class="form-label">Pets Age</label>
        <input type="name" class="form-control" id="addPetAge" placeholder="Age">
    </div>
    <div class="mb-3">
        <label for="addPetDescription" class="form-label">Description</label>
        <textarea class="form-control" id="addPetDescription" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="addPetPicture" class="form-label">Add picture</label>
        <input type="name" class="form-control" id="addPetPicture" placeholder="Picture">
    </div>

    <button type="submit" class="btn btn-primary" id="addPetButton">Save</button>
    <a href="/mypets" class="btn btn-primary">Back to My Pets</a>

</form>

<script src="/js/addpet.js"></script>