<div class="topBackPic"></div>



<div class="row justify-content-evenly">
    <div class="col-sm-5 my-5">
        <a href="/allpets" class="w-100 btn btn-lg btn-primary" type="submit">Adopt a Pet</a>
    </div>
    <div class="col-sm-5 my-5">
        <a href="/mypets" class="w-100 btn btn-lg btn-primary" type="submit">Find New Family For Pet</a>
    </div>
</div>
<br>
<br>
