<div class="row justify-content-evenly">
  <div class="col-sm-5 my-5">
    <form class="login-form">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
        <label for="email-login">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
        <label for="password-login">Password</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    </form>
  </div>

  <div class="col-sm-5 my-5">
    <form class="form signup-form">
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
      <div class="form-floating">
        <input type="name" class="form-control" id="firstName-signup" placeholder="First Name">
        <label for="username-signup">First Name</label>
      </div>
      <div class="form-floating">
        <input type="name" class="form-control" id="lastName-signup" placeholder="Last Name">
        <label for="username-signup">Last Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
        <label for="email-signup">Email address</label>
      </div>
      <div class="form-floating">
        <input type="name" class="form-control" id="phone-signup" placeholder="Phone">
        <label for="username-signup">Phone#</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password-signup" placeholder="Password">
        <label for="password-signup">Password</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>